* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    animation: transitionIn 1s;
}

@keyframes transitionIn{
    from {
        opacity: 0;
        transition: rotateX(-10deg);
    }

    to{
        opacity: 1;
        transition: rotateX(0);
    }
}

body { overflow-x:hidden; } 
body { overflow-y:hidden; } 

/* Body Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.header{ /*background control*/
    min-height: 100vh;
    width: 100%;
    
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

}

nav{ /*Links control*/
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{ 
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

nav .fa {
    display: none;
}

/* Media Queries */

@media (max-width: 700px) {
    .text-box h1{
        font-size: 20px
    }
    .nav-links ul li{
        display: block;
    }
    a.logo img {
        width: 90px; /* Set the desired width */
        height: auto; /* Maintains the aspect ratio */
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #444;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;

    }
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
/* Container Styles */
.container {
    max-width: 800px;
    margin: 150px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-shadow: #333;
}

/* Typography */
h1, h2 {
    color: #333;
    font-weight: 700;
    margin-bottom: 20px;
}

.contact-info, .contact-form {
    margin-bottom: 20px;
}

.contact-info h2 {
    margin-top: 0;
}

.contact-info p, .contact-form label {
    margin: 10px 0;
}
